<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Modules</h2>
                    <h3 class="section-subheading text-muted">From Sounds in a Crowd to Voices of Tomorrow</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Speaking</h4>
                                    <h4 class="subheading">Grasp the subject, the words will follow</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">American writer Dale Carnegie famously said, “There are always three speeches, for every one you actually gave. The one you practiced, the one you gave, and the one you wish you gave.” 
                                        His words are a testament to the importance of speaking skills when it comes to communication</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Writing</h4>
                                    <h4 class="subheading">“There is no greater agony than bearing an untold story inside you.” ~ Maya Angelou</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Writing equips us with communication and thinking skills. Writing expresses who we are as people. Writing makes our thinking and learning visible and permanent. 
                                        Writing fosters our ability to explain and refine our ideas to others and ourselves.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Grammar</h4>
                                    <h4 class="subheading">The past is always tense, the future perfect</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Grammar is the structural foundation of our abiity to express ourselves. The more we are aware of how it works, the more we can monitor the meaning and effectiveness of the way we and others use language. It can help foster precision, detect ambiguity, and exploit the richness of expression available in English</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Reading</h4>
                                    <h4 class="subheading">“Today a reader, tomorrow a leader.” – Margaret Fuller</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Of all the skills you’ll ever learn growing up, arguably none are more important than the ability to read. Each book that you read is an opportunity to learn something new. You can expand your vocabulary, 
                                        train your brain, increase wellness, lower stress, and discover something new about yourself.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>